footer {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: #FFEE56;
}

.main {
	margin-bottom: 50px;
}

.jumbotron {
	background-color: #FFEE56;
}

.btn {
	margin-top: 10px;
}
.botoes .btn {
	width: 100%;
}
.numeros .btn {
	width: 32.7%;
}